* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* General selectors */

html {
	font-size: 62.5%;
}

header {
	background-color: #f5f9fa;
}

nav {
	padding: 15px 0px;
}

/* Selectors */

.container {
	max-width: 1400px;
	margin: auto;
}

.logo {
	display: flex;
	align-items: center;
	text-decoration: none;
	flex-direction: column;
}

.logo img {
	height: 125px;
	margin-right: 10px;
	padding: 5px 15px;
}

.title {
	display: flex;
	flex-direction: column;
	text-align: center;
	font-size: 3.5em;
	font-family: "Nanum Gothic", sans-serif;
	font-style: normal;
	font-weight: bold;
	line-height: normal;
	text-transform: uppercase;
	margin: 15px;
	color: #002864;
}

.nav__links {
	display: flex;
	flex-direction: column;
	text-align: center;
	text-decoration: none;
	color: #000;
	padding: 5px 15px;
	font-family: "Nanum Gothic", sans-serif;
	font-size: 2.5em;
	font-weight: bold;
}

.nav__links:hover {
	color: #00388b;
}

.end {
	display: flex;
	background-color: #2a2b2b;
	margin: 0px;
	padding: 0px;
}

.byKevin p {
	text-align: start;
	margin: 10px;
	color: #ebf3f5;
	font-family: "QuickSand", sans-serif;
	font-size: 1.5em;
	font-weight: bold;
}

.end__icon {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
}

.end__icon img {
	display: flex;
	flex-direction: row;
	margin: 0px 5px;
	width: 32px;
	height: 32px;
	color: #fff;
}
